In [7]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.12/site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install ipython-sql pgspecial psycopg2

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: pgspecial in /opt/anaconda3/lib/python3.12/site-packages (2.1.3)
Requirement already satisfied: psycopg2 in /opt/anaconda3/lib/python3.12/site-packages (2.9.10)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.15.1)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: click>=4.1 in /opt/anaconda3/lib/python3.12/site-packages (from pgspecial) (8.1.7)
Requirement already satisfied: psycopg>=3.0.10 in /opt/anaconda3/lib/python3.12/site-packages (from pgspecial) (3.2.5)
Requirement already satisfied: typing-extensions>=4.6 in /opt/anaconda3/lib/python3.12/site-packages (from psycopg>=3.0.10->pgspecial) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [10]:
%load_ext sql
from sqlalchemy import create_engine

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
%sql postgresql://dylan:super123duper@129.232.211.166:5432/vehicle_insurancedb
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

CODE FOR CREATING TABLES

In [12]:
%%sql

CREATE TABLE IF NOT EXISTS gender(
    gender_id INT NOT NULL PRIMARY KEY,
    gender VARCHAR
)

 * postgresql://dylan:***@129.232.211.166:5432/vehicle_insurancedb
Done.

[]

In [13]:
%%sql

CREATE TABLE IF NOT EXISTS region_code(
    rc_id INT NOT NULL PRIMARY KEY,
    region_code VARCHAR
)

 * postgresql://dylan:***@129.232.211.166:5432/vehicle_insurancedb
Done.

[]

In [14]:
%%sql

CREATE TABLE IF NOT EXISTS policy_channel(
    pc_id INT NOT NULL PRIMARY KEY,
    policy_channel VARCHAR
)

 * postgresql://dylan:***@129.232.211.166:5432/vehicle_insurancedb
Done.

[]

In [15]:
%%sql

CREATE TABLE IF NOT EXISTS policy_holder(
    ph_id INT NOT NULL PRIMARY KEY,
    age INTEGER NOT NULL,
    d_license BOOLEAN,
    premium INT NOT NULL,
    prev_insured BOOLEAN,
    vintage INT NOT NULL,
    response BOOLEAN,
    gender_id INT,
    rc_id INT,
    pc_id INT,
    va_id INT,
    CONSTRAINT fk_gender
        FOREIGN KEY (gender_id)
            REFERENCES gender(gender_id),
    CONSTRAINT fk_region_code
        FOREIGN KEY(rc_id)
            REFERENCES region_code(rc_id),
    CONSTRAINT fk_policy_channel
        FOREIGN KEY(pc_id)
            REFERENCES policy_channel(pc_id),
    CONSTRAINT fk_vehicle_age
        FOREIGN KEY(va_id)
            REFERENCES vehicle_age(va_id)
            )

 * postgresql://dylan:***@129.232.211.166:5432/vehicle_insurancedb
Done.

[]

In [16]:
%%sql

CREATE TABLE IF NOT EXISTS vehicle_age(
    va_id INT NOT NULL PRIMARY KEY, 
    vehicle_age VARCHAR
)

 * postgresql://dylan:***@129.232.211.166:5432/vehicle_insurancedb
Done.

[]

In [17]:
%%sql

CREATE TABLE IF NOT EXISTS vehicle_damage(
    vd_id INT PRIMARY KEY,
    vehicle_damage BOOLEAN
)

 * postgresql://dylan:***@129.232.211.166:5432/vehicle_insurancedb
Done.

[]

In [18]:
%%sql

CREATE TABLE IF NOT EXISTS vehicle_map(
    vd_id INT,
    va_id INT,
    CONSTRAINT fk_vehicle_damage
        FOREIGN KEY(vd_id)
            REFERENCES vehicle_damage(vd_id),
    CONSTRAINT fk_vehicle_age
        FOREIGN KEY(va_id)
            REFERENCES vehicle_age(va_id)  
            )

 * postgresql://dylan:***@129.232.211.166:5432/vehicle_insurancedb
Done.

[]