CODE FOR IMPORTING DATA INTO TABLES

In [66]:
from sqlalchemy import create_engine
import pandas as pd
# Create a database connection
database_url = "postgresql://dylan:super123duper@129.232.211.166:5432/vehicle_insurancedb"

engine = create_engine(database_url)

In [88]:
insurance = pd.read_csv('/Users/tshmacm1167/Desktop/Vehicle_Insurance/INSURANCE_.csv')

In [69]:
insurance.columns

Index(['id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
       'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
       'Policy_Sales_Channel', 'Vintage', 'Response'],
      dtype='object')

#   Checking for nulls

In [83]:
id_nan = insurance[insurance['id'].isna()]
Age_nan = insurance[insurance['Age'].isna()]
Region_Code_nan = insurance[insurance['Region_Code'].isna()]
Previously_Insured_nan = insurance[insurance['Previously_Insured'].isna()]
Vehicle_Age_nan = insurance[insurance['Vehicle_Age'].isna()]
Vehicle_Damage_nan = insurance[insurance['Vehicle_Damage'].isna()]
Annual_Premium_nan = insurance[insurance['Annual_Premium'].isna()]
Policy_Sales_Channel_nan = insurance[insurance['Policy_Sales_Channel'].isna()]
Vintage_nan = insurance[insurance['Vintage'].isna()]
Response_nan = insurance[insurance['Response'].isna()]
Vintage_nan
Policy_Sales_Channel_nan
Vehicle_Damage_nan
Vehicle_Age_nan
Previously_Insured_nan
Region_Code_nan
Age_nan
id_nan
Annual_Premium_nan

Empty DataFrame
Columns: [id, Gender, Age, Driving_License, Region_Code, Previously_Insured, Vehicle_Age, Vehicle_Damage, Annual_Premium, Policy_Sales_Channel, Vintage, Response]
Index: []

# Renaming Columns

In [86]:
# Creating a dictionary for renaming multiple columns
rename_dict = {
    'id': 'ph_id',
    'Gender': 'gender',
    'Age': 'age',
    'Driving_License': 'd_license',
    'Region_Code': 'region_code',
    'Previously_Insured': 'prev_insured',
    'Vehicle_Age': 'vehicle_age',
    'Vehicle_Damage': 'vehicle_damage',
    'Annual_Premium': 'premium',
    'Policy_Sales_Channel': 'policy_channel',
    'Vintage': 'vintage',
    'Response': 'response'
}

# Renaming multiple columns using pandas
insurance.rename(columns=rename_dict, inplace=True)

insurance.columns

Index(['ph_id', 'gender', 'age', 'd_license', 'region_code', 'prev_insured',
       'vehicle_age', 'vehicle_damage', 'premium', 'policy_channel', 'vintage',
       'response'],
      dtype='object')

# Creating new IDS

In [94]:
gender = insurance['Gender'].unique()

gender

gender = pd.DataFrame(gender, columns=['Gender'])
gender

gender = gender.reset_index()
gender

gender.rename(columns={'index':'gender_id'}, inplace=True)
gender

   gender_id  Gender
0          0    Male
1          1  Female