CODE FOR IMPORTING DATA INTO TABLES

In [25]:
from sqlalchemy import create_engine
import pandas as pd
# Create a database connection
database_url = "postgresql://dylan:super123duper@129.232.211.166:5432/vehicle_insurancedb"

engine = create_engine(database_url)

In [53]:
insurance = pd.read_csv('/Users/tshmacm1167/Desktop/Vehicle_Insurance/normalized data/insurance_new.csv')

In [26]:
gender = pd.read_csv('/Users/tshmacm1167/Desktop/Vehicle_Insurance/normalized data/gender.csv')

In [32]:
gender.to_sql('gender',engine, if_exists="append", index= False)

2

In [57]:
gender

   gender_id  gender
0          1  Female
1     175021    Male

In [35]:
vehicle_age = pd.read_csv('/Users/tshmacm1167/Desktop/Vehicle_Insurance/normalized data/vehicle_age.csv')

In [36]:
vehicle_age.to_sql('vehicle_age', engine, if_exists='append', index=False)

3

In [42]:
vehicle = pd.read_csv('/Users/tshmacm1167/Desktop/Vehicle_Insurance/normalized data/vehicle.csv')

In [54]:
insurance

,Unnamed: 0,gender,age,region_code,vehicle_age,vehicle_damage,vintage,response,d_license,gender_id,prev_insured,rc_id,ph_id,va_id,policy_channel,pc_id,vehicle_id,premium
0,0,Male,44,28,> 2 Years,Yes,217,1,1,175021,0,135872,1,164787,26,15476,188697,40454
1,1,Male,76,3,1-2 Year,No,183,0,1,175021,0,7068,2,180794,26,15476,1,33536
2,2,Male,47,28,> 2 Years,Yes,27,1,1,175021,0,135872,3,164787,26,15476,188697,38294
3,3,Male,21,11,< 1 Year,No,203,0,1,175021,1,70310,4,1,152,195932,1,28619
4,4,Female,29,41,< 1 Year,No,39,0,1,1,1,308813,5,1,152,195932,1,27496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381104,381104,Male,74,26,1-2 Year,No,88,0,1,175021,1,130462,381105,180794,26,15476,1,30170
381105,381105,Male,30,37,< 1 Year,No,131,0,1,175021,1,295347,381106,1,152,195932,1,40016
381106,381106,Male,21,30,< 1 Year,No,161,0,1,175021,1,253352,381107,1,160,356438,1,35118
381107,381107,Female,68,14,> 2 Years,Yes,74,0,1,1,0,86776,381108,164787,124,114996,188697,44617
381108,381108,Male,46,29,1-2 Year,No,237,0,1,175021,0,242287,381109,180794,26,15476,1,41777

In [55]:
vehicles = insurance[['va_id','ph_id','vehicle_damage','vehicle_id']]


#reading_from_the_engine.to_sql('vehicles', engine, if_exists='replace', index=False)

In [56]:
vehicles.to

         va_id   ph_id vehicle_damage  vehicle_id
0       164787       1            Yes      188697
1       180794       2             No           1
2       164787       3            Yes      188697
3            1       4             No           1
4            1       5             No           1
...        ...     ...            ...         ...
381104  180794  381105             No           1
381105       1  381106             No           1
381106       1  381107             No           1
381107  164787  381108            Yes      188697
381108  180794  381109             No           1

[381109 rows x 4 columns]

Empty DataFrame
Columns: [vehicle_id, va_id, vehicle_damage]
Index: []

In [37]:
region_code = pd.read_csv('/Users/tshmacm1167/Desktop/Vehicle_Insurance/normalized data/region_code.csv')

In [38]:
region_code.to_sql('region_code',engine, if_exists='append', index=False)

53

In [39]:
policy_channel = pd.read_csv('/Users/tshmacm1167/Desktop/Vehicle_Insurance/normalized data/policy_channel.csv')

In [40]:
policy_channel.to_sql('policy_channel',engine, if_exists='append', index=False)

155