CODE FOR IMPORTING DATA INTO TABLES

In [64]:
from sqlalchemy import create_engine
from sqlalchemy import create_engine, text
import pandas as pd
# Create a database connection
database_url = "postgresql://dylan:super123duper@129.232.211.166:5432/vehicle_insurancedb"

engine = create_engine(database_url)

In [40]:
insurance = pd.read_csv('/Users/macbook/Desktop/Vehicle_Insurance/INSURANCE_.csv')

In [41]:
insurance.columns

Index(['id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
       'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
       'Policy_Sales_Channel', 'Vintage', 'Response'],
      dtype='object')

#   Checking for nulls

In [42]:
id_nan = insurance[insurance['id'].isna()]
Age_nan = insurance[insurance['Age'].isna()]
Region_Code_nan = insurance[insurance['Region_Code'].isna()]
Previously_Insured_nan = insurance[insurance['Previously_Insured'].isna()]
Vehicle_Age_nan = insurance[insurance['Vehicle_Age'].isna()]
Vehicle_Damage_nan = insurance[insurance['Vehicle_Damage'].isna()]
Annual_Premium_nan = insurance[insurance['Annual_Premium'].isna()]
Policy_Sales_Channel_nan = insurance[insurance['Policy_Sales_Channel'].isna()]
Vintage_nan = insurance[insurance['Vintage'].isna()]
Response_nan = insurance[insurance['Response'].isna()]
Vintage_nan
Policy_Sales_Channel_nan
Vehicle_Damage_nan
Vehicle_Age_nan
Previously_Insured_nan
Region_Code_nan
Age_nan
id_nan
Annual_Premium_nan

Empty DataFrame
Columns: [id, Gender, Age, Driving_License, Region_Code, Previously_Insured, Vehicle_Age, Vehicle_Damage, Annual_Premium, Policy_Sales_Channel, Vintage, Response]
Index: []

# Renaming Columns

In [43]:
# Creating a dictionary for renaming multiple columns
rename_dict = {
    'id': 'ph_id',
    'Gender': 'gender',
    'Age': 'age',
    'Driving_License': 'd_license',
    'Region_Code': 'region_code',
    'Previously_Insured': 'prev_insured',
    'Vehicle_Age': 'vehicle_age',
    'Vehicle_Damage': 'vehicle_damage',
    'Annual_Premium': 'premium',
    'Policy_Sales_Channel': 'policy_channel',
    'Vintage': 'vintage',
    'Response': 'response'
}

# Renaming multiple columns using pandas
insurance.rename(columns=rename_dict, inplace=True)

insurance.columns

Index(['ph_id', 'gender', 'age', 'd_license', 'region_code', 'prev_insured',
       'vehicle_age', 'vehicle_damage', 'premium', 'policy_channel', 'vintage',
       'response'],
      dtype='object')

# Creating new IDS

In [68]:
print(insurance.columns)

Index(['ph_id', 'gender', 'age', 'd_license', 'region_code', 'prev_insured',
       'vehicle_age', 'vehicle_damage', 'premium', 'policy_channel', 'vintage',
       'response'],
      dtype='object')

In [71]:
gender = insurance['gender'].unique()

gender

gender = pd.DataFrame(gender, columns=['gender'])
gender

gender = gender.reset_index()
gender

gender.rename(columns={'index':'gender_id'}, inplace=True)
gender

# PostgreSQL Connection
DATABASE_URL = "postgresql://dylan:super123duper@129.232.211.166:5432/vehicle_insurancedb"

# Create a database connection
engine = create_engine(DATABASE_URL)

conn = engine.connect()

conn.begin()

# Connect to PostgreSQL
with engine.connect() as conn:
    for _, row in gender.iterrows():
        sql = text("""
            INSERT INTO gender (gender_id, gender)
            VALUES (:gender_id, :gender)
            ON CONFLICT (gender_id) DO NOTHING
        """)
        conn.execute(sql, {"gender_id": row["gender_id"], "gender": row["gender"]})
    conn.commit() 
# Commit and Close Connection
conn.close()

gender

   gender_id  gender
0          0    Male
1          1  Female

In [72]:
policy_channel = insurance['policy_channel'].unique()

policy_channel = pd.DataFrame(policy_channel, columns=['policy_channel'])
policy_channel

policy_channel = policy_channel.reset_index()
policy_channel

policy_channel.rename(columns={'index':'pc_id'}, inplace=True)
policy_channel

# PostgreSQL Connection
DATABASE_URL = "postgresql://dylan:super123duper@129.232.211.166:5432/vehicle_insurancedb"

# Create a database connection
engine = create_engine(DATABASE_URL)

conn = engine.connect()

conn.begin()

# Connect to PostgreSQL
with engine.connect() as conn:
    for _, row in policy_channel.iterrows():
        sql = text("""
            INSERT INTO policy_channel (pc_id, policy_channel)
            VALUES (:pc_id, :policy_channel)
            ON CONFLICT (pc_id) DO NOTHING
        """)
        conn.execute(sql, {"pc_id": row["pc_id"], "policy_channel": row["policy_channel"]})
    conn.commit() 
# Commit and Close Connection
conn.close()

policy_channel

     pc_id  policy_channel
0        0            26.0
1        1           152.0
2        2           160.0
3        3           124.0
4        4            14.0
..     ...             ...
150    150             6.0
151    151            50.0
152    152           144.0
153    153           143.0
154    154            41.0

[155 rows x 2 columns]

In [75]:
region_code = insurance['region_code'].unique()

region_code = pd.DataFrame(region_code, columns=['region_code'])
region_code

region_code = region_code.reset_index()
region_code

region_code.rename(columns={'index':'rc_id'}, inplace=True)
region_code

# PostgreSQL Connection
DATABASE_URL = "postgresql://dylan:super123duper@129.232.211.166:5432/vehicle_insurancedb"

# Create a database connection
engine = create_engine(DATABASE_URL)

conn = engine.connect()

conn.begin()

# Connect to PostgreSQL
with engine.connect() as conn:
    for _, row in region_code.iterrows():
        sql = text("""
            INSERT INTO region_code (rc_id, region_code)
            VALUES (:rc_id, :region_code)
            ON CONFLICT (rc_id) DO NOTHING
        """)
        conn.execute(sql, {"rc_id": row["rc_id"], "region_code": row["region_code"]})
    conn.commit() 
# Commit and Close Connection
conn.close()

region_code

    rc_id  region_code
0       0         28.0
1       1          3.0
2       2         11.0
3       3         41.0
4       4         33.0
5       5          6.0
6       6         35.0
7       7         50.0
8       8         15.0
9       9         45.0
10     10          8.0
11     11         36.0
12     12         30.0
13     13         26.0
14     14         16.0
15     15         47.0
16     16         48.0
17     17         19.0
18     18         39.0
19     19         23.0
20     20         37.0
21     21          5.0
22     22         17.0
23     23          2.0
24     24          7.0
25     25         29.0
26     26         46.0
27     27         27.0
28     28         25.0
29     29         13.0
30     30         18.0
31     31         20.0
32     32         49.0
33     33         22.0
34     34         44.0
35     35          0.0
36     36          9.0
37     37         31.0
38     38         12.0
39     39         34.0
40     40         21.0
41     41         10.0
42     42         14.0
43     43         38.0
44     44         24.0
45     45         40.0
46     46         43.0
47     47         32.0
48     48          4.0
49     49         51.0
50     50         42.0
51     51          1.0
52     52         52.0

In [76]:
vehicle_damage = insurance['vehicle_damage'].unique()

vehicle_damage = pd.DataFrame(vehicle_damage, columns=['vehicle_damage'])

vehicle_damage = vehicle_damage.reset_index()

vehicle_damage.rename(columns={'index':'vd_id'}, inplace=True)
vehicle_damage

# PostgreSQL Connection
DATABASE_URL = "postgresql://dylan:super123duper@129.232.211.166:5432/vehicle_insurancedb"

# Create a database connection
engine = create_engine(DATABASE_URL)

conn = engine.connect()

conn.begin()

# Connect to PostgreSQL
with engine.connect() as conn:
    for _, row in vehicle_damage.iterrows():
        sql = text("""
            INSERT INTO vehicle_damage (vd_id, vehicle_damage)
            VALUES (:vd_id, :vehicle_damage)
            ON CONFLICT (vd_id) DO NOTHING
        """)
        conn.execute(sql, {"vd_id": row["vd_id"], "vehicle_damage": row["vehicle_damage"]})
    conn.commit() 
# Commit and Close Connection
conn.close()

vehicle_damage

   vd_id vehicle_damage
0      0            Yes
1      1             No

In [77]:
vehicle_age = insurance['vehicle_age'].unique()

vehicle_age = pd.DataFrame(vehicle_age, columns=['vehicle_age'])

vehicle_age = vehicle_age.reset_index()

vehicle_age.rename(columns={'index':'va_id'}, inplace=True)
vehicle_age

# PostgreSQL Connection
DATABASE_URL = "postgresql://dylan:super123duper@129.232.211.166:5432/vehicle_insurancedb"

# Create a database connection
engine = create_engine(DATABASE_URL)

conn = engine.connect()

conn.begin()

# Connect to PostgreSQL
with engine.connect() as conn:
    for _, row in vehicle_age.iterrows():
        sql = text("""
            INSERT INTO vehicle_age (va_id, vehicle_age)
            VALUES (:va_id, :vehicle_age)
            ON CONFLICT (va_id) DO NOTHING
        """)
        conn.execute(sql, {"va_id": row["va_id"], "vehicle_age": row["vehicle_age"]})
    conn.commit() 
# Commit and Close Connection
conn.close()

vehicle_age

   va_id vehicle_age
0      0   > 2 Years
1      1    1-2 Year
2      2    < 1 Year

In [81]:
def putidforage(x):
    if x == "> 2 Years":
        age = 0
    elif x == '1-2 Year':
        age = 1
    elif x == "< 1 Year":
        age = 2
    else:
        age = "old"
    
    return age
    
insurance['va_id'] = insurance['vehicle_age'].apply(putidforage)    

insurance

,ph_id,gender,age,d_license,region_code,prev_insured,vehicle_age,vehicle_damage,premium,policy_channel,vintage,response,va_id
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1,0
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0,1
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1,0
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0,2
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
381104,381105,Male,74,1,26.0,1,1-2 Year,No,30170.0,26.0,88,0,1
381105,381106,Male,30,1,37.0,1,< 1 Year,No,40016.0,152.0,131,0,2
381106,381107,Male,21,1,30.0,1,< 1 Year,No,35118.0,160.0,161,0,2
381107,381108,Female,68,1,14.0,0,> 2 Years,Yes,44617.0,124.0,74,0,0
381108,381109,Male,46,1,29.0,0,1-2 Year,No,41777.0,26.0,237,0,1

In [90]:
def putidfordamage(x):
    if x == "Yes":
        damage = 0
    elif x == 'No':
        damage = 1
    else:
        damage = "unknown"
    
    return damage
    
insurance['vd_id'] = insurance['vehicle_damage'].apply(putidfordamage)

insurance

,ph_id,gender,age,d_license,region_code,prev_insured,vehicle_age,vehicle_damage,premium,policy_channel,vintage,response,va_id,vd_Id,vd_id
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1,0,0,0
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0,1,1,1
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1,0,0,0
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0,2,1,1
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381104,381105,Male,74,1,26.0,1,1-2 Year,No,30170.0,26.0,88,0,1,1,1
381105,381106,Male,30,1,37.0,1,< 1 Year,No,40016.0,152.0,131,0,2,1,1
381106,381107,Male,21,1,30.0,1,< 1 Year,No,35118.0,160.0,161,0,2,1,1
381107,381108,Female,68,1,14.0,0,> 2 Years,Yes,44617.0,124.0,74,0,0,0,0
381108,381109,Male,46,1,29.0,0,1-2 Year,No,41777.0,26.0,237,0,1,1,1

In [ ]:
vehicle_map = insurance[['vd_id', 'va_id']]

vehicle_map

        vd_id  va_id
0           0      0
1           1      1
2           0      0
3           1      2
4           1      2
...       ...    ...
381104      1      1
381105      1      2
381106      1      2
381107      0      0
381108      1      1

[381109 rows x 2 columns]

In [94]:
merged = pd.merge(vehicle_map, vehicle_age, how="inner", on='va_id')
merged = pd.merge(merged, vehicle_damage, how='inner', on='vd_id')

merged

        vd_id  va_id vehicle_age vehicle_damage
0           0      0   > 2 Years            Yes
1           1      1    1-2 Year             No
2           0      0   > 2 Years            Yes
3           1      2    < 1 Year             No
4           1      2    < 1 Year             No
...       ...    ...         ...            ...
381104      1      1    1-2 Year             No
381105      1      2    < 1 Year             No
381106      1      2    < 1 Year             No
381107      0      0   > 2 Years            Yes
381108      1      1    1-2 Year             No

[381109 rows x 4 columns]